@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #9F1239;
  color: #FECDD3;
  font-family: 'Montserrat', sans-serif;
}

.privacy-icon:hover {
  cursor: pointer;
}

#check-number,
label,
input {
  display: block;
  margin-top: 1rem;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

.container {
  width: 320px;
  margin: auto;
}

input {
  width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

#check-number,
#output-box {
  margin: auto;
  margin-top: 2rem;
  display: block;
  text-align: center;
}

#output-box {
  width: 100%;
  background-color: white;
  border-color: #FECDD3;
  border-radius: 5px;
  border-width: medium;
  font-size: large;
}

#check-number {
  border-radius: 5px;
  background: transparent;
  color: #FECDD3;
  border-color: #FECDD3;
  padding: 0.3rem;
}

#check-number:hover {
  background: #FECDD3;
  border-color: #FECDD3;
  color: #1F2937;
}

#text-birthday{
  color: #1F2937;
}

.hint-box {
  margin-top: 1rem;
  font-size: small;
}

.footer {
  margin-top: 1rem;
}

.list-non-bullet {
  margin: auto;
  list-style: none;
}

.list-item-inline {
  display: inline;
}

.footer-basic {
  padding:40px 0;
  background-color:#9F1239;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}